<div class="footer">
    <div class="footer-btm-row">
        <div class="footer-btm-row-left">
            <div class="footer-item">© Collabstr Inc.</div>
            <a href="#" class="footer-item">Privacy</a>
            <a href="#" class="footer-item">Terms</a>
            <a href="#" class="footer-item">Sitemap</a>
        </div>

        <div class="footer-btm-row-right">
            <div class="footer-img">
                <a href="https://instagram.com/collabstr" target="_blank"><span class="link-spanner"></span></a>
                <img src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/instagram.svg"
                     alt="Instagram logo" loading="lazy">
            </div>
            <div class="footer-img">
                <a href="https://tiktok.com/@collabstr.com" target="_blank"><span class="link-spanner"></span></a>
                <img src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/tiktok.svg"
                     alt="TikTok logo" loading="lazy">
            </div>

            <div class="footer-img">
                <a href="https://twitter.com/@usecollabstr" target="_blank"><span class="link-spanner"></span></a>
                <img src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/creatorMarketplace/twitter.svg"
                     alt="Twitter logo" loading="lazy">
            </div>
        </div>
    </div>
</div>