<div class="header">
    <div class="header-row">
        <div>
            <img alt="Collabstr logo" class="full-logo-img"
                 src="https://d5ik1gor6xydq.cloudfront.net/websiteImages/logo.svg"/>
        </div>
        <div class="header-right">
            <a class="header-btn" href="#">Explore</a>
            <a class="header-btn" href="#">How It Works</a>
            <a class="header-btn" href="#">Login</a>
            <a class="header-btn" href="#">Join as Brand</a>
            <a class="header-btn join-btn" href="#">Join as Creator</a>

        </div>
    </div>
</div>